<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
  <appSettings>
    <add key="StorageConnectionString" value="DefaultEndpointsProtocol=https;AccountName=frestrgall1;AccountKey=NeR6PGzRDKM2YkGD7KdsGUHGvYmEAfZ/gmfrUPtVxcCJWS/n+405/U/B2IFlaQqvqXOBXKZD1iioPo0CCyYjVQ==;EndpointSuffix=core.windows.net"/>
  </appSettings>
</configuration>